html,
body {
  background: white;
}

.flex-display {
  display: flex;
}

.flex-display>* {
  flex: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.flex-display>*:first-child {
  margin-left: 0;
}

.flex-display>*:last-child {
  margin-right: 0;
}

.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  border-right: 1px solid rgba(0, 0, 0, .2);
  width: 200px;
  display: flex;
  align-items: center;
}

.navbar-header a {
  color: white;
}

.navbar-header .fa-reorder {
  cursor: pointer;
}

.navbar-header .fa-reorder:hover {
  color: tomato;
}

.navbar-brand .logo {
  flex: 1;
  text-align: center;
}

.side-bar {
  position: fixed;
  width: 200px;
  height: calc(100vh - 40px);
  margin-top: 40px;
  background: lightgray;
  transition: all ease 500ms;
}

.content {
  width: calc(100% - 200px);
  margin-left: 200px;
  min-height: calc(100vh);
  background: darkgray;
  transition: all ease 500ms;
}

body.mini-sidebar .side-bar {
  width: 0;
  overflow: hidden;
}

body.mini-sidebar .content {
  width: 100%;
  margin-left: 0;
}

.checkbox-panel {
  display: flex;
}

.checkbox-panel>div {
  margin: 0;
  margin-right: 10px;
}

.checkbox-panel>div:last-child {
  margin-right: 0;
}

.checkbox-panel .checkbox label {
  font-size: 14px;
}

.radio+.radio,
.checkbox+.checkbox {
  margin-top: initial;
}

.login-page {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ebebeb;
  background-color: #2b3e50;
  z-index: 3000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page .title {
  margin-bottom: 20px;
}

.login-page .form-panel {
  width: 100%;
}

.login-page .form-group {
  margin-bottom: 30px;
}

.register-panel .form-group {
  margin-bottom: 15px;
}

.form-control-feedback.fa {
  margin-top: 11px;
  color: darkgray;
}

.has-error .form-control,
.has-error .form-control:focus {
  border-width: 2px;
}